     /* Custom animations and complex hover effects that are hard to replicate with just Tailwind */
     @keyframes text {
      0% { opacity: 0; transform: translateY(80px); }
      100% { opacity: 1; transform: translateY(0); }
    }
    
    @keyframes letters {
      0% { transform: translateY(20px); }
      100% { transform: translateY(-20px); }
    }
    
    @keyframes shadowMove {
      0% { transform: translateY(0px); }
      100% { transform: translateY(-30px); }
    }
    
    .message-btn-hover:hover {
      transform: translateY(3px);
      box-shadow: 0px 0px 0px -2px #f33e3e, 0px 0px 0px 0px #da0914;
    }
    
    .reload-btn-hover:hover,
    .reload-btn-hover:focus {
      transform: translateY(3px);
      box-shadow: 0px 0px 0px -2px #f33e3e, 0px 0px 0px 0px #da0914;
    }
    
    .message__letters:hover {
      animation-play-state: paused;
    }
    
    .message__letters:hover .message__letterMain {
      transform: translateY(-20px);
      transition: all 0.4s ease, transform 0.4s ease;
    }
    
    .message__letters:hover .message__letterShadow {
      transform: translateY(-30px);
      filter: blur(10px);
      transition: all 0.4s ease, transform 0.4s ease;
    }
    
    .message__letterMain {
      transition: all 0.4s ease, transform 2s 0.4s ease;
    }
    
    .message__letterShadow {
      transition: all 0.4s ease, transform 2s 0.4s ease;
      animation: shadowMove 1s ease infinite alternate both;
    }